@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ruluko&display=swap');


:root{

    /* Cores bases */
    --color-lightX:#fff;
    --color-light00: #eeeeee; 
    --color-light01: #b7c1d8; 
    --color-light02: #7f7e8b;

    --color-gray: #626977; 

    --color-dark00:#7f8a92;
    --color-dark01: #343a46; 
    --color-dark02: #181b22; 

    --font-UI: "Noto Sans", sans-serif;

}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-light00);
}

header#newsHeader{
    width: calc(100% - 10px);
    max-width: 800px;
    padding-top: 10px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

/* configuraçõe do menu*/

div#iconMenu{
    display: flex;
}

nav#newsMenu{
    display: block;
}

menu#menuSide{
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    padding-top: 50px;
    background-color: var(--color-light01);

    width: 75vw;
    max-width: 400px;
    height: 100vh;

    z-index: 3;

    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;


}

#lastViewPort{
    position: fixed;
    display: none;
    width: 30vw;
    top: 0;
    right: 0;
    height: 100vh;

    background-color: #6e6e6e3b;
    box-shadow: inset 0.2em 0.1em 3em rgba(0, 0, 0, 0.158);
    transition: all .85s;

}

.init{
    display: none;
}

.surgir #menuSide{
    animation: born 0.4s ease-in-out;
}

.surgir #lastViewPort{
    display: block;
    animation: subBorn 1.6s ease-in;
}

.desaparecer #menuSide{
    animation: bornX 0.4s  ease-in-out;
}

.desaparecer #lastViewPort{
    display: none;
    animation: subBorn 0.35s reverse ease-in;
}

@keyframes born {

    0%{
        width: 0vh;
        display: none;
    }

    100%{
        width: 75vw;
        display: block;
    }

}

@keyframes bornX {
    0%{
        width: 75vw;
    }

    100%{
        width: 0vh;
        display: none;
    }
}

@keyframes subBorn {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

#iconX{
    position: fixed;
    left: 60vw;
    z-index: 4;
    top: 30px;
}

.iconX-surgir{
    animation: bornIconX 0.6s ease-in-out;
}

/* COnfigurações dos Itens do Menu */

ul{
    cursor: default;
    margin: 30px 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: max-content;

    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
}

li{
    list-style: none;
    font-family: var(--font-UI);
    grid-column: 1/5;
}

.tittle-ul{
    width: 100%;
    margin-top: 15px;
    font-size: 1.6em;
    padding: 5px 20px;
    cursor: default;
}


.tittle-ul:hover{
    background-color: var(--color-dark00);
}

li.sub{
    padding-left: 40px;
    margin: 10px 0px 10px 30px;
    font-size: 1.3em;
    display: none;
}

.sub > a{
    text-decoration: none;
    color: #000;
}

.sub > a:hover{
    text-decoration: underline;
}


/*configurações do select box*/
input.box{
    display: none;
    width: 15px;
    height: 15px;

    padding: 3px;


    margin-bottom: -50px;
    z-index: 3;
    opacity: 0;   
    
 
    grid-column: 2/2;
}

.checkbox{
    grid-column: 2/2;
    display: none;
    margin-bottom: -50px ;
    
    width: 10px;
    height: 10px;
    padding: 3px;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    

}

input#checkDominio:checked ~ #checkboxDM,
input#checkTop:checked ~ #checkboxTP,
input#checkPalavraChave:checked ~ #checkboxPC,
input#checkDate:checked ~ #checkboxDT,
input#checkRelevance:checked ~ #checkboxRV,
input#checkPopularity:checked ~ #checkboxPP{
    transform: rotate(39deg);
    border-color: #35ff35;
    border-top-color: transparent;
    border-left-color: transparent;
    border-width: 2px;
    border-radius: 0px;
    width: 5px;
    margin-bottom: -40px ;
    transition: all 0.375s ease;
}

.exibirSub li.sub{
    display: block;
}

.exibirSub .box{
    display: block;
}

.exibirSub .checkbox{
    display: block;
}

.initial{
    display: none;
}

@keyframes bornIconX {
    0%{
        opacity: 0;
        display: block;
    }

    100%{
        opacity: 1;
        display: block;
    }
}

.color-adequed{
    fill: var(--color-lightX);
}

section#sectionInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#input{
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--color-light00);
}

#input::placeholder{
    text-align: center;
    color: var(--color-light01);
}

#iconBusca:active{
    transform: scale(1.06);
}

nav#toggle-theme{
    display: block;
}

main{
    width: calc(100% - 5px);
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside#titleSearch{
    display: block;
    margin: 20px 0px;
    text-align: center;
    width: calc(100% - 20px);
}

#userSearch{
    font-size: 1.4em;
    margin: 15px 0px;
}

#userChoice{
    line-height: 2em;
    font-size: 0.8em;
    max-width: 80%;
    display: block;
    margin: auto;
}

mark{
    padding: 4px;
    border-radius: 7px;
    background-color: var(--color-light01);
}

article#articleSubcontainer{
    width: 100%;
    max-width: 900px;
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

aside.news-card{
    width: 90%;
    max-width: 340px;
    height: auto;
    background-color: var(--color-lightX);


    display: relative;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 13px;
}

.news-card a{
    color: #000;
}

#titleNews{
    margin: 10px 0;
}

#description{
    margin: 7px 0;
    font-size: 0.9em;
}

#titleNews, #description{
    font-family: Arial, Helvetica, sans-serif;
}

#img{
    background-image: url('');
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    padding: 5px;
    margin-bottom: 15px;
}

#img > a > h2{
    background-color: #3f3f3f8c;
    color: #fff;
    text-decoration: underline #fff;

    padding: 10px;
    border-radius: 17px;
    line-height: 1.45em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#author{
    text-transform: capitalize;
}

#information{
    margin-left: 93%;
    border-radius: 50%;
    padding: 5px 10px;
    background-color: var(--color-light00);
} 

#information:hover{
    background-color: var(--color-light01);
    transition: all 0.2s ease-in;
}

#statusId{
    margin-top: 30px;
    font-family: var(--font-UI);
}

#mensage{
    display: none;
    position: absolute;
    right: 10%;
    transform: translateX(-35%);
    width: 140px;
    line-height: 1.3em;
    background-color: var(--color-light01);
    padding: 10px;
    border-radius: 10px;

}

i#information:hover ~ span#mensage{
    display: block;
    transition: all 0.4s ease-in;
}

div#notification{
    display: none;
    position: absolute;
    bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    font-family: var(--font-UI);

    width: calc(100% - 50px);
    max-width: 600px;
    margin: auto;

    background-color: var(--color-light01);
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2em;

    animation: fad-in 6s linear;
}

section#textNotification{
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

section#textNotification > p{
    width: 100%;
}

section#buttons{
    margin: 15px 0;
    text-align: right;
}

section#buttons > input{
    font-size: 0.8em;
    padding: 10px;
    margin-left: 7px;
    border-radius: 7px;
    outline: 0;
    border: 0;
}

#buttons > input:active{
    opacity: 0.8;
}

#aceptButton{
    background-color: #33acfd;
}

#cancelButton{
    background-color: rgb(241, 241, 241);
}

#progressBar{
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(
        to right,
        var(--color-light01),
        var(--color-light02)
    );
    border-radius: inherit;
    animation: progress 5.5s 0.3s linear ;
}

@keyframes fad-in {
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to{
        transform: scaleX(1);
    }
}